body {
    font-family: 'Arial', sans-serif;
    color: #fff;
    margin: 0;
    padding: 0;
    background-image: url('img/bg2.jpg');
    background-size: cover;
    background-attachment: fixed;
}

/* Menu mobile */
nav ul,
nav.show ul,
.overlay {
    display: flex;
    flex-direction: column;
    width: 100%;
    position: absolute;
    top: 60px;
    right: 0;
    background-color: #333;
    z-index: 1;
}
nav ul li a.fab::before,
nav ul li a.fas::before {
    color: white; /* Couleur du texte pour les icônes */
    font-size: 100px; /* Taille de la police pour les icônes (ajustez selon vos besoins) */
    text-decoration: none; /* Supprime le soulignement par défaut des liens */
    display: flex;
    align-items: center;
    margin-right: 10px; /* Ajustez la marge à votre préférence */
}
.nav-icons-container { 
    display: flex;
    align-items: center;
     margin-top: 200px;

}
/* Style des éléments de la liste du menu déroulant */
nav ul li {
    padding: 15px;
    width: 100%;
    margin: 0;
    transition: background-color 0.3s;
    margin-top: 10px;
    text-decoration: none;
}

/* Changez la couleur de fond lorsqu'on survole les éléments du menu */
nav ul li:hover {
    background-color: #000;
    text-decoration: line-through;
}




/* Style de l'icône du menu */
.menu-icon {
    display: block;
    font-size: 24px;
    cursor: pointer;
    margin-left: auto;
}

/* Assurez-vous que le logo et le menu sont bien alignés */
.logo-menu-container {
    align-items: center;
    margin-top: 5%;
    margin-left: 10px;
    margin-right: 10px;
}

.logo-menu-container ul {
    display: none;
    flex-direction: column;
    width: 100%;
    text-align: center;
    position: absolute;
    top: 0;
    left: 0;
    background-color: #000;
    z-index: 1;
}


/* Affichez le menu uniquement lorsqu'il est activé */
.logo-menu-container.show ul,
.logo-menu-container.show .overlay {
    display: flex;
    height: 100vh; /* Ajustez la hauteur pour qu'elle couvre toute la hauteur de la vue */
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    background-color: #000;
    z-index: 1;
}

nav ul li.move-up {
    bottom: 10px; /* Ajustez la valeur en fonction de la quantité de déplacement souhaitée */
    font-size: 20px;
    color: orange;
}

.close-icon {
    display: none;
    position: absolute;
    top: 20px;
    right: 20px;
    font-size: 24px;
    cursor: pointer;
    color: white;
    z-index: 2;
}

/* Assurez-vous que la croix est visible lorsque le menu est activé */
.logo-menu-container.show .close-icon {
    display: block;
}

/* Style du bouton de retour en haut */
.logo {
    height: 20px;
    margin-top: 10px;
}



section {
    margin: 20px 0;
}

#accueil,
#intro-oppose {
    max-width: 90%;
    margin: 0 5% auto;
    display: flex; /* Ajoutez ceci pour activer le modèle de boîte flex */
    flex-direction: column; /* Assurez-vous que les éléments sont empilés verticalement */
    align-items: center; /* Centrez les éléments horizontalement */
}


/* Centrer #services */
#services {
    max-width: 100%;
    margin: auto 5%;
    text-align: center;}

#accueil h1,
#intro-oppose h1,
#services h1 {
    font-size: 1.5em;
    margin-bottom: 15px;
}

#accueil article,
#intro-oppose article,
.services-list li {
    font-size: 1em;
    line-height: 1.5;
}

.image-description-container {
    flex-direction: column;
    margin-bottom: 30px;
}

.acceuil-image {
    max-width: 100%;
    height: auto;
    margin-left: 0;
    margin-bottom: 20px;
}

.acceuil-description {
    margin-left: 5%;
    margin-right: 5%;
    text-align: center;
    margin-bottom: 30px;
}

.acceuil-description h2 {
    font-size: 2em;
    margin-left:0px;
    margin-right:0px;
}

#a_propos {
    font-size: 0.9em;
    max-width: 90%;
    margin: 0 auto;
}
.apropos-image{
    max-width: 95%; /* Pour s'assurer que l'image ne dépasse pas de la largeur du conteneur */
    height: auto; /* Pour maintenir le ratio d'aspect original de l'image */
    display: block; /* Pour éliminer tout espace supplémentaire sous l'image */
    margin: 50px auto; /* Ajoutez une marge au-dessus de l'image pour l'espacement */
}

.graphic-designer-image {
    max-width: 100%;
    height: auto;
    margin: 50px auto;
}

.span1 {
    color: orange;
    font-weight: bold;
}

.portfolio_image{
    max-width: 95%;
    height: 100%;
    margin-rigth: 5px;
}

footer {
    background-color: transparent;
    color: #fff;
    text-align: center;
    padding: 1em 0;
    position: fixed;
    bottom: 0;
    width: 100%;
}

